[submodule "git-aware-prompt"]
	path = git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt.git
[submodule "vim/bundle/coquille"]
	path = vim/bundle/coquille
	url = https://github.com/the-lambda-church/coquille
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/vim-jsbeautify"]
	path = vim/bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify
[submodule "vim/bundle/ag"]
	path = vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/numbers"]
	path = vim/bundle/numbers
	url = https://github.com/myusuf3/numbers.vim.git
[submodule "vim/bundle/vim-python-indent"]
	path = vim/bundle/vim-python-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
